{% load i18n %}
<p>
    DjangoDay Ar 2012 es producido por un grupo independiente de desarrolladores Django.
</p>
<p>
    Sitio construido por Santiago usando <a href="http://djangoproject.com">Django</a> y <a href="http://pinaxproject.com">Pinax</a>. Basado en 
    el sitio open source de la <a href='https://github.com/eldarion/djangocon.us'>DjangoCon US</a>.
</p>
<p>
    <strong>Django</strong> es una marca registrada de la <a href="http://djangoproject.com/foundation">Django Software Foundation</a>.
</p>
<p>Preguntas, comentarios, sugerencias: <em>santiago.basulto {arroba} gmail {punto} com</em>