{% extends "site_base.html" %}

{% load i18n %}
{% load biblion_tags %}

{% block head_title %}Mapa{% endblock %}

{% block tagline %}<h4>Una jornada única para aprender, mejorar, <br>y relacionarte con <a href='https://www.djangoproject.com/'>Django</a>.</h4>{% endblock %}

{% block body_class %}home{% endblock %}
{% block body %}

<header>
    <h1>Agenda</h1>
</header>
<h2>Importante:</h2>
<p>La lista definitiva de Charlas será publicada una vez que finalice la convocatoria.</p>

{% endblock %}