{% extends "site_base.html" %}

{% load i18n %}
{% load boxes_tags %}
{% load biblion_tags %}

{% block tagline %}<h4>Una jornada única para aprender, mejorar, <br>y relacionarte con <a href='https://www.djangoproject.com/'>Django</a>.</h4>{% endblock %}

{% block body_class %}home{% endblock %}
{% block body %}

{% include "static/home.html" %}

{% endblock %}

{% block vignettes %}
    <section class="vignettes">
        {% for person in ponypeople %}
            <a class="framed" href="http://www.flickr.com/photos/bastispicks/sets/72157624936586134">
            <img width="265" height="199" src="/site_media/static/img/people/{{ person }}.jpg"><p>by <em>Sebastian Hillig</em></p></a>
        {% endfor %}
    </section>
{% endblock %}