{% extends "site_base.html" %}

{% load i18n %}
{% load biblion_tags %}

{% block head_title %}Mapa{% endblock %}

{% block tagline %}<h4>Una jornada única para aprender, mejorar, <br>y relacionarte con <a href='https://www.djangoproject.com/'>Django</a>.</h4>{% endblock %}

{% block body_class %}home{% endblock %}
{% block body %}

<header>
    <h1>Sponsors</h1>
</header>
<h2>Importante:</h2>
<p>La lista definitiva de Sponsors será publicada una vez que finalice la convocatoria.</p>

<h2>Sponsor Oro</h2>
<ul>
    <li>Entrega de merchandising de su empresa/producto a los participantes del evento.</li>
    <li>Entrega de un volante con información de su empresa/producto junto con la Agenda del evento.</li>
    <li>Logotipo en afiches de promoción.</li>
    <li>Mayor presencia de su logo en el home del site.</li>
    <li>Presencia de su marca en los proyectores mientras no hay expositores.</li>
    <li><b>Valor: $1.500 **</b></li>
</ul>

<h2>Sponsor Plata</h2>
<ul>
    <li>Entrega de merchandising de su empresa/producto a los participantes del evento.</li>
    <li>Entrega de un volante con información de su empresa/producto junto con la Agenda del evento.</li>
    <li>Logotipo en afiches de promoción.</li>
    <li>Presencia de su logo en el site.</li>
    <li>Presencia de su marca en los proyectores mientras no hay expositores.</li>
    <li><b>Valor: $1.000 **</b></li>
</ul>

<h2>Sponsor Bronce</h2>
<ul>
    <li>Logotipo en afiches de promoción.</li>
    <li>Presencia de su logo en el sitio.</li>
    <li>Presencia de su marca en los proyectores mientras no hay expositores.</li>
    <li><b>Valor: $500 **</b></li>
</ul>
<p style='width:100%;margin-left:10px;'><b>Si estás interesado en ser sponsor escribinos a santiago.basulto @ gmail . com</b></p>
<p>* Queda a cuenta de su empresa proveer los recursos a utilizar para su promoción. Es decir, el merchandising, los volantes, las diapositivas y cualquier otro medio de promoción de su marca y/o producto.</p>
<p>** Valores expresados en Pesos Argentinos.</p>
{% endblock %}